aws_region   = "ap-northeast-1"
project_name = "k8s-training"
environment  = "dev"

vpc_cidr = "10.0.0.0/16"
subnets = [
  {
    az           = "ap-northeast-1a"
    private_cidr = "10.0.1.0/24"
    public_cidr  = "10.0.101.0/24"
  },
  {
    az           = "ap-northeast-1c"
    private_cidr = "10.0.2.0/24"
    public_cidr  = "10.0.102.0/24"
  }
]

node_group_max_size = 5
node_group_min_size = 2

worker_node_instance_types = [ "t3.small", "t2.small" ]
worker_node_ami_type       = "AL2023_x86_64_STANDARD"
worker_node_capacity_type  = "ON_DEMAND"